@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
#root,
html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;

  /* --background: #ffffff;
  --foreground: #000000; */

  --purple: #c870ff;
  --shadow: 0 0 200px 50px rgba(217, 156, 255, 0.25);
  --shadow-sm: rgba(217, 156, 255, 0.452) 0px 10px 36px 0px,
    rgba(217, 156, 255, 0.06) 0px 0px 0px 1px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ffffff;
  }
} */

body {
  font-family: "Poppins", serif;
}

@layer utilities {
  .shadow-custom {
    box-shadow: var(--shadow);
  }

  .shadow-custom-sm {
    box-shadow: var(--shadow-sm);
  }
}

h1 {
  font-size: 60px;
}

h4 {
  font-size: 28px;
}

h6 {
  font-size: 20px;
}

@media (max-width: 660px) {
  h1 {
    font-size: 40px;
  }
  h4 {
    font-size: 20px;
  }
}

@media (max-width: 430px) {
  h1 {
    font-size: 30px;
  }
  h4 {
    font-size: 18px;
  }
}

@media (max-device-width: 940px) and (orientation: landscape) and (min-aspect-ratio: 3/2) {
  h1 {
    font-size: 40px;
  }
  h4 {
    font-size: 20px;
  }
}

::selection {
  background-color: var(--purple);
  color: white;
}

video {
  cursor: pointer;
}

video::-webkit-media-controls-volume-slider {
  display: none;
}
video::-webkit-media-controls-mute-button {
  display: none;
}

.modal-open {
  pointer-events: none;
}
